#circle {
  position: absolute;
  top: 50vh;
  left: 50vw;
  background-color: aqua;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  text-align: center;
  align-content: center;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid black;
  transform: translate(-50%, -50%);

}

#lineX {
  position: absolute;
  opacity: 0.5;
  background-color: red;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 1px;
}

#lineY {
  position: absolute;
  opacity: 0.5;
  background-color: red;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  width: 1px;
  height: 100vh;
}

body{
  overflow: hidden;
}