#mouse-area {
    position: relative;
    overflow: hidden;
    height: 150px;
    border: 1px dashed grey;
}

.circle {
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: lightblue;
    border-radius: 10px;
}