#first{
    background-color: burlywood;
    position: absolute;
    width: 200px;
    height: 200px;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%,-50%) rotate(45deg);
}

a {
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  font-family: monospace;
  text-transform: uppercase;
  font-weight: bold;
  align-content: center;
  background-color: blueviolet;
  animation: circleMove 6s linear infinite;
  
}

#clock{
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 5em;
    transform: rotate(-45deg);
    align-content: center;
    text-align: center;
}

@keyframes circleMove {
    0% {
        left: 0;
        top: 0;
    }
    
    25% {
        left: 100%;
        top: 0;
        background-color: aqua;
    }

    50% {

        left: 100%;
        top: 100%;
        background-color: brown;

    }
    75% {

        left: 0;
        top: 100%;
        background-color: beige;

    }
    100%{
        left: 0;
        top: 0;
    }
    
}

body{
    overflow: hidden;
    margin: 0;
}